<div class="title">
  <h2><%= @movie.name %></h2>
</div>

<div class="movie-info">
  <h4><%= "Director: #{@movie.director}" %></h4>
  <p><%= "Duration: #{@movie.duration}" %></p>
  <p><%= "Genre: #{@movie.genre}" %></p>
  <p><%= "Synopsis: #{@movie.summary}" %></p>
</div>

<div class="option-buttons">
  <div class="button-edit">
    <div class="btn btn-danger">
    <%= link_to 'Edit Film', edit_movie_path(@movie) %>
    </div>
  </div>

  <div class="btn-delete">
    <div class="btn btn-danger">
      <%= link_to 'Delete Film', movie_path(@movie), method: :delete %>
    </div>
  </div>

  <div class="btn-events">
    <div class="btn btn-danger">
      <%= link_to "All Films", movies_path %>
    </div>
  </div>
</div>

 <div class="btn-add">
    <div class="btn btn-danger">
      <%= link_to 'Download Movie', movie_downloads_path(@movie), method: :create %>
    </div>
  </div>


<div class="btn-add">
    <div class="btn btn-danger">
      <%= link_to 'Add to wishlist', movie_wishlist_movies_path(@movie), method: :create %>
    </div>
  </div>


<div class="social-buttons">
  <ul>
    <li><a href="#" target="blank" class="btn"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#" target="blank" class="btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#" target="blank" class="btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  </ul>
</div>

