<div class="title">
  <h2><%= @movie.name %></h2>
</div>

<div class="movie-info">
  <h4><%= "Director: #{@movie.director}" %></h4>
  <p><%= "Duration: #{@movie.duration}" %></p>
  <p><%= "Genre: #{@movie.genre}" %></p>
  <p><%= "Synopsis: #{@movie.summary}" %></p>
</div>

<div class="social">
  <div class="twitter">
  <div class="facebook">
  <div class="instagram">

  </div>
  </div>
  </div>
</div>
